@import "global.less";
#firstmsgspace
{
  height:10px;
}

.chat-img()
{
  width: 35px;
  height: 35px;
}
.chat-balloon()
{
  border-radius: 8px;
  background-color: white;
  color: @color_6;
  position:relative;
  display:inline-block;
  padding:10px;
  max-width:75%;
}
.common_name()
{
  margin-top:7px;
  .font_style_11;
  color:@color_6;
}
.common_time
{
  
}
.messaging-view {
  background-color: @color_4;
  .scroll { 
      min-height:100%;
      padding:0px 0 50px;
  }
  .image
  {
    width:50px;
  }
  .nobody_msg
  {
    position:relative;
    top:25%;
    width:100%;
    height:45px;
    background: transparent;
    background-image:url('../images/inbetweenpages/icn-groupchat-empty-90x90.png');
    background-size:45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    border-color: transparent;
    .msg
    {
      text-align:center;
      position:relative;
      top:0px;
      .big
      {
        .font_style_3;
      }
      .normal
      {
        .font_style_9;
      }
    }
  }
  .chat-balloon-me{
    clear: both;
    width: 100%;
    .message
    {
      overflow:hidden; padding:5px 5px 0;
      position:relative;
      margin-top:6px;
      left:5px;
      top:-5px;
      .msg
      {
        .chat-balloon;
        border-top-right-radius: 0;
        float: right;
      }
    }
    
    img
    {
      .chat-img;
      margin-left:8px;
      margin-right:10px;
      float: right;
    }
    .name
    {
      .common_name;
      float: right;
    }
    .time
    {
      background-color:@color_5;
      .font_style_0;
      color:white;
      float:right;
      padding-left:5px;
      padding-right:5px;
      border-radius:5px;
    }
    float: right;
  }
  .chat-balloon-you{
    clear: both;
    width: 100%;
    img
    {
      margin-left:10px;
      margin-right:8px;
      .chat-img;
      float: left;
    }
    .message
    {
      overflow:hidden; padding:0px 5px 5;
      position:relative;
      margin-top:6px;
      .msg
      {
        .chat-balloon;
        border-top-left-radius: 0;
        float: left;
      }
    }
    .name
    {
      .common_name;
      float: left;
    }
    .time
    {
      background-color:@color_5;
      .font_style_0;
      color:white;
      float:left;
      padding-left:5px;
      padding-right:5px;
      border-radius:5px;
    }
    float: left;
  }
  .message-input { 
    position:fixed; bottom:0; left:0; right:0; height:40px; background:#FFF; z-index:20;
    .row
    {
      padding:0px;
      border-top:1px solid @color_1;
    }
    input
    {
      padding: 10px;
      .font_style_7;
      color: black;
      border: 0px;
      height:38px;
      font-size: 15px;
    }
    input::-webkit-input-placeholder {
      .font_style_7;
      font-size: 15px;
    }
    .owner_msg_flg()
    {
      height:40px;
      border:0px;
      padding:0px;
      width:100%;
      background-size:24px 21px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .owner_msg_on
    {
      .owner_msg_flg;
      background-color : @color_2;
      background-image:url('../images/chat-organizer/switch-on-48x42.png'); 
    }
    .owner_msg_off
    {
      .owner_msg_flg;
      background-color : @color_5;
      background-image:url('../images/chat-organizer/switch-off-48x42.png'); 
    }
    .send
    {
      background-color : @color_1;
      .font_style_4;
      width:100%;
      height:40px;
      border:0px;
      padding:0px;
    }
    .owner_header
    {
      position:relative;
      top:-70px;
      .row
      {
        border-top:0px;
      }
      .image
      {
        border:0px;
        padding:0px;
        height:20px;
        width:100%;
        background-size:8px 10px;
        background-repeat: no-repeat;
        background-position: right center;
        background-image:url('../images/chat-organizer/icn-online-16x20.png'); 
      }
      .number
      {
        .font_style_7;
        color:@color_5;
        position:relative;
        top:3px;
        text-align:center;
      }
      .message_common()
      {
        .font_style_7;
        color:white;
        padding:5px;
        border-radius:4px;
        height:100%;
        width:70%;
        position:relative;
        left:10px;
        top:-10px;
        text-align:center;
      }
      .message
      {
        .on_msg
        {
          .message_common;
          background-color : @color_2;

        }
        .off_msg
        {
          .message_common;
          background-color : @color_5;
        }
      }
    }
  }
}