@import "global.less";

.error_panel
{
  position:absolute;
  top:0px;
  width:100%;
  height:60px;
  background-color:#f05a28;
  z-index:100;
  padding:5px;
  .font_style_6;
  color:white;
  p
  {
    margin-bottom:5px;
  }
  .header_space
  {
    height:20px;
  }
  .btn_close
  {
    background-image:url(../images/login/btn-x-24x24.png);
    background-size:12px 12px;
    background-repeat:no-repeat;
    background-position: center center;
    height: 12px;
    width: 100%;
    position:relative;
    top:5px;
  }
}