@import "global.less";
#android
{	
	text-align:left !important;
	.no_padding
	{
		padding-left:0% !important;
		text-align:center !important;
	}
	.no_padding_textarea
	{
		padding-left:10% !important;
	}
	#title
	{
		padding-left:38%;
	}
	#start_date
	{
		padding-left:20%;
	}
	#start_time
	{
		padding-left:20%;
	}
	#end_date
	{
		padding-left:25%;
	}
	#end_time
	{
		padding-left:25%;
	}
	#location
	{
		padding-left:40%;
	}
	#notes
	{
		padding-left:44%;
	}
	input::-webkit-input-placeholder {
		text-align:left !important;
	}
	textarea::-webkit-input-placeholder {
		text-align:left !important;
	}
}
#create_event
{
	background-color: @color_3;
	text-align:left;
	.row
	{
		background-color: @color_3;
		height:50px;
		width:100%;
		margin:0;
		input
		{	
			background-color: @color_3;
			height:50px;
			border:0px;
			width:100%;
			height:100%;
			.font_style_1;
			text-align:center;
			.note
			{
				text-align:left;
			}
		}
		input::-webkit-input-placeholder {
	    .font_style_1;
	    font-size: 13px;
	    text-align:center;
	    background-color: @color_3;
	    background-repeat: no-repeat; 
			background-size:24px 15px;
	  }
	  input#title::-webkit-input-placeholder
	  {
		  background-image:url(../images/creationpage/btn-edit-content48x38.png) ;
		  background-position: 72% center;
	  }
	  input#start_date::-webkit-input-placeholder
	  {
		  background-image:url(../images/creationpage/btn-edit-timedate48x38.png) ;
		  background-position: 72% center;
	  }
	  input#end_date::-webkit-input-placeholder
	  {
		  background-image:url(../images/creationpage/btn-edit-timedate48x38.png) ;
		  background-position: 69% center;
	  }
	  input#location::-webkit-input-placeholder
	  {
		  background-image:url(../images/creationpage/btn-edit-location48x38.png) ;
		  background-position: 70% center;
	  }
	}
	.notes
	{
		height:100px;
		textarea
	  {
	  	border:0px;
		width:100%;
		text-align:left;
	  	color:@color_1;
	  	height:100%;
	  	rows:2;
	  	text-align:left;
	  	padding:30px;
	  	background-color: @color_3;
	  	resize: none;
	  	.font_style_1;
	  }
	  textarea::-webkit-input-placeholder {
	    .font_style_7;
	    font-size: 13px;
	    text-align:center;
	    background-color: @color_3;
	    color:@color_1;
	    resize: none; 
	  }
	  textarea#notes::-webkit-input-placeholder
	  {
		  background-image:url(../images/creationpage/btn-edit-content48x38.png) ;
		  background-position: 68% center;
		  background-repeat: no-repeat; 
			background-size:24px 15px;
	  }
	}
	.line
	{
		height:5px;
	}
	.publish
	{
		text-align:center !important;
		position:relative;
		top:20%;
		height:70px;
		.btn_publish
		{
			border:0px;
			height:100%;
		  width:80px;
		  background: transparent;
		  background-image:url(../images/creationpage/btn-publish90x90.png) ;
		  background-size:45px 45px;
		  background-repeat: no-repeat;
	  	background-position: top;
		}
		span
    {
      position:relative;
      top:20px;
      .font_style_11;
    }
	}
}
