@import "global.less";

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

//공통 부품
.thumb_image
{
  height:55px;
  width:55px;
}
.row
{
  margin:0px;
  padding:0px;
}
.item-content
{
  padding:0px; 
}
.item
{
  padding:0px;
}
.col
{
  padding:0px;
  height:100%;
}
.modal
{
  background-color: transparent;
}
.modal-wrapper
{
  height:100%;
}
//HEADER
#list_header_button
{
  background-image:url(../images/nav/btn-sidenav-50x50.png);
  background-size:25px 25px;
  height: 29px;
  width: 29px;
  min-height:25px;
  background-repeat: no-repeat;
}
.has-header {
  top: 44px;
}
#black_header
{
  background-color: black;
  background-size:0px;
  .etc_link
  {
    background-image:url(../images/nav/btn-back-100x38.png);
    background-size:50px 19px;
    height: 20px;
    width: 50px;
    border:0px;
    position:relative;
    top:7px;
    background-color:transparent;
    background-repeat: no-repeat;
  }
  .right_link()
  {
    
    background-size:50px 19px;
    position:absolute;
    float: right;
    height: 20px;
    top: 7px;
    width: 50px;
    right:5px;
    border:0px;
    background-repeat: no-repeat;
    background-color:transparent;
  }
  .edit_link
  {
    background-image:url(../images/nav/btn-edit-100x38.png);
    .right_link;
  }
  .save_link
  {
    background-image:url(../images/nav/btn-save-100x38.png);
    .right_link;
  }
  h1
  {
    .font_style_4;
  }

}

//contents
.page_contents
{
  display: block;
  width: 100%;
  clear: both;
  float: left;
  padding: 0 2%;
  width: 100%;
  display:block; 
  overflow:auto;
  margin:0 auto; 
  overflow:auto; 
  padding:44px 0;
  background-color : #e5e9e8 !important; 
}
.list_separatebar
{
  background-image:url('../images/nav/separatebar-610x10.png');
  background-size:305px 5px;
  background-repeat: no-repeat;
  height:7px;
  width:305px;
  position:relative;
  float: right;
}
.organizer_login_footer
{
  position: absolute;
  bottom: 10px;
  width:100%;
  margin: auto auto;
  text-align:center;
  .stc
  {
    .font_style_9;
    color:white;
  }
  .login_link
  {
    .font_style_4;
    color:white;
  }
}