@import "global.less";

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

//공통 부품
.thumb_image
{
  height:55px;
  width:55px;
}
.row
{
  margin:0px;
}
.modal
{
  background-color: transparent;
}
//HEADER
#list_header_button
{
  background-image:url(../images/nav/btn-sidenav-50x50.png);
  background-size:25px 25px;
  float: left;
  height: 29px;
  margin-top: 3px;
  width: 29px;
  min-height:25px;
  background-repeat: no-repeat;
}
#black_header
{
  background-color: black;
  height: 44px;
  width: 100%;
  position: fixed;
  z-index:1000;
  .etc_link
  {
    background-image:url(../images/nav/btn-back-100x38.png);
    background-size:50px 19px;
    float: left;
    height: 20px;
    margin-top: 8px;
    width: 50px;
    border:0px;
    min-height:20px;
    background-color:transparent;
  }
  .right_link()
  {
    
    background-size:50px 19px;
    position:absolute;
    float: right;
    height: 19px;
    margin-top: 12px;
    width: 50px;
    right:5px;
  }
  .edit_link
  {
    background-image:url(../images/nav/btn-edit-100x38.png);
    .right_link;
  }
  .save_link
  {
    background-image:url(../images/nav/btn-save-100x38.png);
    .right_link;
  }
  h1
  {
    display: block;
    float: left;
    line-height: 50px;
    margin-top: 0px;
    .font_style_4;
  }

}

//contents
.page_contents
{
  display: block;
  width: 100%;
  clear: both;
  float: left;
  padding: 0 2%;
  width: 100%;
  display:block; 
  overflow:auto;
  margin:0 auto; 
  overflow:auto; 
  padding:44px 0;
  background-color : #e5e9e8 !important; 
}
.list_separatebar
{
  background-image:url('../images/nav/separatebar-610x10.png');
  background-size:610px 10px;
  background-repeat: no-repeat;
  height:10px;
  width:95%;
  position:relative;
  float: right;
}
.btn_create_event
{
  right: 0px;
  left: 60%;
  margin: auto;
  position:fixed;
  bottom:50px;
  height:45px;
  width:45px;
  background-image:url(../images/passcodepage/create-event-90x90.png);
  background-size:45px 45px;
  .text_create_event
  {
    position:absolute;
    top:45px; 
    text-align: center;
    .font_style_11;
  }
} 