@import "global.less";

.login_page
{
  background-color: gray;
  height:100%;
  background-image:url(../images/login/bg-photo.jpg);
  .loginLogo
  {
    position:relative;
    top: 70px;
    background-image:url(../images/login/logo-150x150.png);
    background-size:75px 75px;
    background-repeat:no-repeat;
    background-position: center;
    height:75px; 
  }
  .login_btn_group{
    position: absolute;
    bottom: 100px;
    background-image:url(../images/login/bg-314x314.png);
    background-size: 157px 157px;
    height: 157px;
    background-repeat:no-repeat;
    background-position: center;
    left: 0;
    right: 0;
    .btnfb
    {
      background-image:url(../images/login/btn-fb-200x200.png);
      position:relative;
      background-repeat:no-repeat;
      background-size: 100px 100px;
      height: 100px;
      width: 100px;
      background-position: center;
      top: -21.5px;
      margin-left: auto;
      margin-right: auto;
      left: 50px;
     }
    .btnSignup
    {
      background-image:url(../images/login/btn-email-200x200.png);
      position:relative;
      background-repeat:no-repeat;
      background-size: 100px 100px;
      height: 100px;
      width: 100px;
      background-position: center;
      top: -21.5px;
      margin-left: auto;
      margin-right: auto;
     left: -50px;
    }
  }
}
