@import "global.less";

#menu_events
{
  .menu_contents;
  .title
  {
    text-align:left;
    .font_style_0;
    clear: both;
    margin-left:25px;
    margin-botton:5px;
  }
  .event
  {
    margin-top:25px;
  }
  .event_name
  {
    padding-top:25px;
    padding-bottom:10px;
    .font_style_1;
  }
  .event_code
  {
    margin-bottom:25px;
    .font_style_3;
  }
  .event_item:active
  {
    background-color: @color_4;
  }
}
