<?xml version='1.0' encoding='utf-8'?>
<widget id="co.hiin.app" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hiin</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="hiteam@hiin.co" href="http://hiin.co">
        Hiin Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Keyboard">
	    <param name="ios-package" value="IonicKeyboard" onload="true" />
	</feature>
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <feature name="FacebookConnectPlugin">
        <param name="ios-package" value="FacebookConnectPlugin" />
        <param name="onload" value="true" />
    </feature>
    <plugin name="FacebookConnectPlugin" value="FacebookConnectPlugin" />
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="684817121572800" />
        <param name="APP_NAME" value="Hiin" />
    </gap:plugin>
</widget>
