#logout_notice
  .notice
    p NOTICE
  .icon
  .desc
    div(ng-bind-html='message')
  .links
    .row
      .col
        .okay(ng-click='okay()')
          p OKAY
      .col
        .cancel(ng-click='cancel()')
          p CANCEL