#privacy_free
  .icon
  .title
    p PRIVACY GUARANTEED
  .desc
    p Your infomation
    p (profile, chat history, activity log) will be permanently deleted
    p 48 hours after the event.
  .link
    div(ng-click='DialogClose()')
      p OKAY