#privacy_free
  .icon
  .title
    p PRIVACY FREE
  .desc
    p Your infomation(profile, chat history, activity log) 
    p will be permanently deleted
    p 48 hours after the event.
  .link
    div(ng-click='DialogClose()')
      p OKAY