#user_card
	.btn_close(ng-click='DialogClose()')
	img.thumb_image.img-circle(ng-profile-image = 'ng-profile-image',source='{{user.thumbnailUrl}}', alt='',
		ng-click='ShowProfileImage(user)')
	.name {{user.firstName}} {{user.lastName}}
	.job {{user.job}}
	.hiin(ng-flip-btn = 'ng-flip-btn'  hiStatus = '{{user.status}}')
		button(ng-click="sayHi(user)",ng-Hi-Btn = 'ng-hi-btn',hiStatus = '{{user.status}}' ,ng-class="user.status=='0'?'btn-Hi':'btn-Hied'") HI 
		button.btn-In(ng-click="chatRoom(user)", ng-In-Btn = 'ng-in-btn',hiStatus = '{{user.status}}') IN 
