.attention_body
	.notice NOTICE
	.icon  
	.attention 
		p Organizer’s information will be saved.
		p If you don’t have an organizer account,
		p you will be asked to create one.
.foot_link.btn-group.btn-group-justified
	.btn-group(ng-click='yes()') 
		.title YES
		.desc I understand.
	.btn-group(ng-click='no()')
		.title NO
		.desc Cancel now.