#event_loading_or_creating
	.icon
		.icon
		.message
			p your event is being {{message}}...
	.tips
		.line
		.title
			p PRO-TIPS
		.desc
			p Havind a profile picture increase your
			p chance of making valuable connection!
			p Port one from facebook or
			p upload one yourself.