ion-view(title='EVENTS')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon#list_header_button(menu-toggle='left')
  ion-pane.confirm_event
    .center
      .form-group
        input(ng-class="input_class",ng-maxlength='4',type='text', pattern="[0-9]*", ng-model='formData.code', placeholder='ENTER EVENT PASSCODE')
        a(ng-click="confirmCode()", ng-show="formData.code.length == 4")
          span.btn_go(style="vertical-align:middle")
        .key
      div.or OR
      input.btn_create_event(value="CREATE EVENT",readonly,ng-click="CreateEvent()")
  ion-content#menu_events(ng-show="enteredEventsOrOwner")
    .event.current_event
      .title Current event
      .list_separatebar
      ion-list
        ion-item(ng-repeat='event in events | filter:current',ng-click='GotoEvent(event.code)')
          .event_item
            .event_name {{event.name}}
            .event_code PASSCODE: {{event.code}}
    .event.past_events
      .title Past event(s)(With in 48hours)
      .list_separatebar
      ion-list
        ion-item(ng-repeat='event in events | filter:pastEvent',ng-click='GotoEvent(event.code)')
          .event_item
            .event_name {{event.name}}
            .event_code PASSCODE: {{event.code}}
          .list_separatebar
    .event.my_event
      .title Your event(s)
      .list_separatebar
      ion-list
        ion-item(ng-repeat='event in events | filter:myEvent',ng-click='GotoEvent(event.code)')
          .event_item
            .event_name {{event.name}}
            .event_code PASSCODE: {{event.code}}
          .list_separatebar