ion-view(title='EVENTS')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon#list_header_button(menu-toggle='left')
  ion-pane.confirm_event
    .center
      .form-group
        input.text_box_enter_code(max=9999,type='number', ng-model='formData.code', placeholder='ENTER EVENT PASSCODE')
        a(ng-click="confirmCode()", ng-show="formData.code")
          span.btn_go(style="vertical-align:middle")
        .key
      div.or OR
      input.btn_create_event(value="CREATE EVENT",readonly,ng-click="CreateEvent()")
  ion-content#menu_events(ng-show="enteredEventsOrOwner")
    .event.current_event
      .title Current event
      ion-list
        ion-item.event_item(ng-repeat='event in events | filter:thisEvent',ng-click='GotoEvent(event.code)')
          .list_separatebar
          .event_name {{event.name}}
          .event_code PASSCODE: {{event.code}}
    .event.past_events
      .title Past event(s)(With in 48hours)
      .list_separatebar
      ion-list
        ion-item.event_item(ng-repeat='event in events | filter:pastEvent',ng-click='GotoEvent(event.code)')
          .event_name {{event.name}}
          .event_code PASSCODE: {{event.code}}
          .list_separatebar
    .event.my_event
      .title Your event(s)
      .list_separatebar
      ion-list
        ion-item.event_item(ng-repeat='event in events | filter:myEvent',ng-click='GotoEvent(event.code)')
          .event_name {{event.name}}
          .event_code PASSCODE: {{event.code}}
          .list_separatebar