ion-side-menus
  ion-pane(ion-side-menu-content='ion-side-menu-content')
    ion-nav-bar.bar-stable#black_header(ontouchstart='return false;')
      ion-nav-back-button.etc_link(ng-click='goBack()')
    ion-nav-view(name='menuContent', animation='slide-left-right')
  div#notice(ng-include="'views/etc/msg_header.html'")
  ion-side-menu#menuleft(side='left')
    #header
      .logo
    #menus
      ion-list
        .row
          .side_list_separatebar
        .row
          ion-item(nav-clear='nav-clear', menu-close='menu-close', href='#/list/userlists',ng-class="{'selected_item_class':'2' == selectedItem }")
            span(ng-show="selectedItem == 2 ") > 
            | HOME
        .row
          .side_list_separatebar
        .row
          ion-item(nav-clear='nav-clear', menu-close='menu-close', href='#/list/profile', ng-class="{'selected_item_class':'1' == selectedItem }")
            span(ng-show="selectedItem == 1 ") > 
            | PROFILE
        .row
          .side_list_separatebar
        .row
          ion-item(nav-clear='nav-clear', menu-close='menu-close', href='#/list/events',ng-class="{'selected_item_class':'3' == selectedItem }")
            span(ng-show="selectedItem == 3 ") > 
            | EVENTS
        .row
          .side_list_separatebar
        .row
          ion-item(nav-clear='nav-clear', menu-close='menu-close', href='#/list/setting',ng-class="{'selected_item_class':'4' == selectedItem }")
            span(ng-show="selectedItem == 4 ") > 
            | SETTING
        .row
          .side_list_separatebar
