ion-view(title='NOTICE')
	ion-nav-buttons(side='left',ng-if="fromMenu")
		button.button.button-icon.icon#list_header_button(menu-toggle='left')
	ion-nav-buttons(side='left',ng-if="!fromMenu")
		button.etc_link(ng-click='Back()')