ion-pane.has-header#menu_profile
  .header
    img.img-circle.profile_pic(ng-profile-image = 'ng-profile-image',source='{{userInfo.photoUrl}}',src='')
    .btn_edit
      button(url='{{imageUploadUrl}}',accept="image/*,application/pdf",
        on-success="onSuccess(response)", 
        on-upload="onUpload(files)",
        on-error="onError(response)",
        on-complete="onComplete(response)",
        upload_button)
  .list_separatebar
  .desc.edit
    .form-group
      .row.row_title
        .col.first
          p FIRST NAME
        .col.second
          p LAST NAME
      .row
        .col.first
          input.name_input(ng-model="userInfo.firstName")
        .col.second
          input.name_input(ng-model="userInfo.lastName")
      .row.row_title
        .col
          p SEX
      .row
        .col
          .gender {{userInfo.gender | gender}}
      .row.row_title
        .col
          p JOB TITLE
      .row
        .col
          input(ng-model='userInfo.job')
#profile_foot.btn-group.btn-group-justified
  .btn-group(ng-click='cancel()') 
    .title CANCEL
  .btn-group(ng-click='done()')
    .title DONE