ion-pane.has-header#menu_profile
  .header
    img.img-circle.profile_pic(ng-profile-image = 'ng-profile-image',source='{{userInfo.photoUrl}}',src='')
  .list_separatebar
  .desc.show
    .form-group
      .row
        .col
          .it.name {{userInfo.firstName}} {{userInfo.lastName}}
      .row
        .col
          .it {{userInfo.gender | gender}}
      .row
        .col
          .it {{userInfo.job}}
#profile_foot.btn-group.btn-group-justified
  .btn-group(ng-click='edit()') 
    .icon
    .title EDIT