.attention_body
	.notice notice
	.icon  
	.attention Organizer's information will be saved.
.foot_link.btn-group.btn-group-justified
	.btn-group(ng-click='yes()') 
		.title YES
		.desc I understand.
	.btn-group(ng-click='no()')
		.title NO
		.desc Use once only.