ion-pane.confime_event
	.title_logo
	.center
		.form-group
			input.text_box_enter_code(max=9999,type='number', ng-model='formData.code', placeholder='ENTER EVENT PASSCODE')
			a(ng-click="confirmCode()", ng-show="formData.code")
				span.btn_go(style="vertical-align:middle")
			.key
	.btn_create_event(ng-click="goToCreateEvent()")
		.text_create_event CREATE EVENT