ion-view(title='CREATE EVENT')
  ion-pane.has-header#create_event
    form(name='createEventForm')
      .form-group
        .row
          input#title(type='text', placeholder='EVENT TITLE', ng-model="eventInfo.name",required)
        .line
          .list_separatebar
        .row
          .col(ng-click='InputStartDate()')
            input#start_date(type='text', placeholder='START DATE',ng-model='startDate',readOnly,required)
        .row
          .col(ng-click='InputEndDate()')
            input#end_date(type='text', placeholder='END DATE',ng-model="endDate",readOnly,required)
        .line
          .list_separatebar
        .row
          .col
            input#location(type='text', placeholder='LOCATION', ng-model="eventInfo.place")
        .line
          .list_separatebar
        .row.notes
          .col
            textarea#notes(placeholder='NOTES', ng-model="eventInfo.desc")
        .publish
          button.btn_publish(ng-click='pubish()',ng-disabled="createEventForm.$invalid") 
            span PUBLISH