ion-pane
  ion-header-bar#black_header
    .buttons
      a.etc_link(ng-click='backToList()')
    h1.title CREATE EVENT
  ion-pane.has-header.create_event
    form(name='createEventForm')
      .form-group
        .row
            input(type='text', placeholder='EVENT TITLE', ng-model="eventInfo.name",required)
        .line
          .list_separatebar
        .row
          .col
            input(ui-date='dateOptions', placeholder='DATE',ng-model="eventInfo.startDate",required,readOnly)
          .col
            input.time(type='time', ng-model='time',required)
        .line
          .list_separatebar
        .row
          .col
            input(type='number', pattern="[0-9]*",placeholder='EVENT DURATION(HRS)', ng-model="durationHour",required)
        .line
          .list_separatebar
        .row
          .col
            input(type='text', placeholder='LOCATION', ng-model="eventInfo.place")
        .line
          .list_separatebar
        .row.notes
          .col
            textarea(placeholder='NOTES', ng-model="eventInfo.desc")
        .publish
          button.btn_publish(ng-click='pubish()') 
            span ACTIVITY