ion-view(title='INFO')
  ion-nav-buttons(side='right')
    button.edit_link(ng-click='ToEditMode()', ng-show="isOwner", ng-class="right_link")
  ion-nav-buttons(side='left')
    button.etc_link(ng-click='Cancel()', ng-show="right_link == 'save_link'")
  ion-pane
    .event_info_code
      .passcode 
        .code {{eventInfo.code}}
    .event_info_detail
      form
        .row
          .col
            .title
              p TITLE
            input.name(type='text', placeholder='EVENT TITLE', ng-model="eventInfo.name",required,ng-readonly="!editMode")
        .list_separatebar
        .row
          .col(ng-click='InputStartDate()')
            .title
              p START
            input.date(type='text', ng-model="startDate",required,readonly)
          .col(ng-click='InputEndDate()')
            .title
              p END
            input.date(type='text', ng-model='endDate',required,readonly)
        .list_separatebar
        .row
          .col
            .title
              p LOCATION
            input.place(type='text', placeholder='LOCATION', ng-model="eventInfo.place",ng-readonly="!editMode")
        .list_separatebar
        .row.row_note
          .col
            .title
              p NOTES
            textarea.note(type='text', placeholder='NOTES', ng-model="eventInfo.desc",ng-readonly="!editMode")