ion-view.messaging-view(title='{{roomName}}')
  ion-content(ng-style='{ bottom: (data.keyboardHeight + 40) + "px" }')
    .message(ng-repeat='message in messages track by $index',
    	ng-chat-balloon = 'ng-chat-balloon',user='{{message.user}}',msg='{{message.text}}')
      img.thumb_image.img-circle(src='{{imagePath}}{{message.thumbnailUrl}}', alt='')
      .name {{message.user}}
      br
      .message: span {{ message.text }}
  .message-input(ng-style='{ bottom: data.keyboardHeight + "px" }')
    .row
      .col-75
        input(type='text' ng-chat-input = 'ng-chat-input' placeholder='Type your message' 
          on-return='sendMessage()' ng-model='data.message' on-focus='inputUp()' on-blur='inputDown()')
      .col-25
        button(ng-click='sendMessage()') SEND