ion-view.messaging-view(title='{{roomName}}')
  ion-content(ng-style='{ bottom: (data.keyboardHeight + 40) + "px" }', delegate-handle="myScroll",id='messageList')
    ion-refresher(ng-if='messages.length>0',pulling-text="Pull to refresh..." on-refresh='pullLoadMsg()')
    .message(id="{{$index}}",ng-repeat='message in messages track by $index',
      ng-class="message.sender_name == 'me' ? 'chat-balloon-me' : 'chat-balloon-you'")
      .row#firstmsgspace(ng-if='$first')
      .dateLine(ng-if="dateChanged($index)")
        p {{message.created_at | date: 'yyyy.MM.dd'}}
      div(ng-if="message.type != 'notice'")
        img.thumb_image.img-circle(ng-click='ShowProfile(message.sender)', 
          ng-profile-image = 'ng-profile-image',source='{{message.thumbnailUrl}}', alt='')
        .name {{message.sender_name}}
        br
        .desc
          .message
            span.msg(ng-bind-html="message.content | noHTML | replaceLink")
            div.time_wrap
              span.time {{message.created_at | date : 'shortTime' }}
      div(ng-if="message.type == 'notice'")
        img.thumb_image.img-circle(ng-click='ShowProfile(message.sender)', 
          ng-profile-image = 'ng-profile-image',source='{{owner.thumbnailUrl}}', alt='')
        .name {{owner.firstName}}
        br
        .desc
          .message
            span.notice(ng-bind-html="message.content | noHTML | replaceLink")
            div.time_wrap
              span.time {{message.created_at | date : 'shortTime' }}
    .nobody_msg(ng-if='messages.length==0')
      div.msg 
        p.big NO MESSAGES YET
        p.normal Introduce yourself?
  .message-input(ng-style='{ bottom: data.keyboardHeight + "px" }',ontouchmove='return false;')
    div.alert_new_msg(ng-if='newMsg != null')
      .row
        .col.col-10
          img.thumb_image.img-circle(ng-profile-image = 'ng-profile-image',source='{{newMsg.thumbnailUrl}}')
        .col.msg
          .row
            .col.name {{newMsg.sender_name}}
          .row.message
            .col {{newMsg.msg}} 
        .col.col-10(ng-click="ScrollToBottom()")
          .arrow
      .name
      .short_message
    div(ng-if="!amIOwner")
      .row
        .col-80
          input.inputText(type='text' ng-chat-input = 'ng-chat-input' placeholder='Type your message' 
            on-return='sendMessage()' ng-model='data.message' on-focus='inputUp()' on-blur='inputDown()' autocorrect="off" )
        .col
          button.send(ng-click='sendMessage()') SEND
    div(ng-if="amIOwner")
      .row
        .col.col-70
          input(type='text' ng-chat-input = 'ng-chat-input' placeholder='Type your message' 
            on-return='sendMessage()' ng-model='data.message' on-focus='inputUp()' on-blur ='inputDown()' autocorrect="off" )
        .col.col-10
          button.owner_msg_on(ng-click='toggleOwnerMsg()', ng-class="regular_msg_flg ? 'owner_msg_on' : 'owner_msg_off' ")
        .col.col-20
          button.send(ng-click='sendMessage()') SEND
      div.owner_header
        .row
          .col.col-5.image
          .col.col-5.number
            | {{userNum}}
          .col.col-90.message
            div(ng-show="showingMsg")
              input(type='text', ng-model='popupMessage',readOnly,ng-class="regular_msg_flg ? 'on_msg' : 'off_msg'")


