ion-view.messaging-view(title='{{roomName}}',ontouchstart='return false;')
  ion-content(ng-style='{ bottom: (data.keyboardHeight + 40) + "px" }')
    ion-refresher(pulling-text="Pull to refresh..." on-refresh='pullLoadMsg()')
    .message(id="{{$index}}",ng-repeat='message in messages track by $index',
      ng-class="message.sender_name == 'me' ? 'chat-balloon-me' : 'chat-balloon-you'")
      img.thumb_image.img-circle(ng-profile-image = 'ng-profile-image',source='{{message.thumbnailUrl}}', alt='')
      .name {{message.sender_name}}
      br
      .message: span {{ message.content }}
  .nobody_msg(ng-show='messages.length==0')
    div.msg 
      p.big NO MESSAGES YET
      p.normal Introduce yourself?
  .message-input(ng-style='{ bottom: data.keyboardHeight + "px" }',ontouchstart='console.log("input touch")')
    div(ng-if="!amIOwner")
      .row
        .col-80
          input(type='text' ng-chat-input = 'ng-chat-input' placeholder='Type your message' 
            on-return='sendMessage()' ng-model='data.message' on-focus='inputUp()' on-blur='inputDown()')
        .col-20
          button.send(ng-click='sendMessage()') SEND
    div(ng-if="amIOwner")
      .row
        .col.col-70
          input(type='text' ng-chat-input = 'ng-chat-input' placeholder='Type your message' 
            on-return='sendMessage()' ng-model='data.message' on-focus='inputUp()' on-blur='inputDown()')
        .col.col-10
          button.owner_msg_on(ng-click='toggleOwnerMsg()', ng-class="regular_msg_flg ? 'owner_msg_on' : 'owner_msg_off' ")
        .col.col-20
          button.send(ng-click='sendMessage()') SEND
      div.owner_header
        .row
          .col.col-5.image
          .col.col-5.number
            | {{userNum}}
          .col.col-90.message
            div(ng-show="showingMsg")
              input(type='text', ng-model='popupMessage',readOnly,ng-class="regular_msg_flg ? 'on_msg' : 'off_msg'")


