.signin_and_login
  div(ng-include="'views/etc/msg_header.html'")
  .formBox
    .logo
    a.back(ng-click='back()')
    .signin_form
      form(name='userForm' novalidate)
        .row
          input(type='email', placeholder='your email', ng-model="userInfo.email",requered)
        .row
          input(type='password', placeholder='password', ng-model="userInfo.password",requered)
        .reset_password(ng-click='GotoResetPassword()')
          p Forgot your password?
        .done
          .btn_login(ng-click='Login()')
