ion-view(title='EVENT')
  ion-pane#organizer.has-header
    div(ng-include="'views/etc/error_msg_header.html'")
    form.signup_form(name='userForm' novalidate)
      .title NEW ACCOUNT
      .row
        input(type='email', placeholder='your email', ng-model="userInfo.email",requered)
      .row
        input(type='password', placeholder='password', ng-model="userInfo.password",requered)
      .row
        input(type='password', placeholder='conform password', ng-model="repeat_password",requered)
      input.btn_foot(value='CREATE & SIGN IN',readonly,ng-click="CreateAndSignIn()",ng-disabled="userForm.$invalid")
    .organizer_login_footer.signup
      span.stc alrady have an account? 
      span.login_link(ng-click='organizerLogin()') 
        span(style="text-decoration: underline") LOGIN
        span  HERE