.signin_and_login
  .error_panel(ng-show='showErrMsg')
    .row
      .col-90
        p You have entered a 
        p wrong email address.
      .col-10
        .btn_close(ng-click='CloseErroMsg()')
  .formBox
    .logo
    a.back(ng-click='back()')
    .signin_form
      .sub_title
        p RESET PASSWORD
      form
        .row
          input(type='email', placeholder='your email', ng-model="email",requered)
        .done
          .btn_reset(ng-click='ResetPassword()')