.singup_page
  .singup_formBox
    .singup_logo
    .signup_form
      form(name='form')
        .form-group
          input.signup_input(type='email', placeholder='yourEmail@hiin.co', ng-model="userInfo.email",requered)
          .signup_horizontal_line
        .form-group
          input.signup_input(type='password', placeholder='password', ng-model="userInfo.password",requered)
          .signup_horizontal_line
        .form-group
          input.signup_input(type='name', placeholder='your name', ng-model="userInfo.name",requered)
          .signup_horizontal_line
        .form-group
          input.signup_input(type='occupation', placeholder='occupation', ng-model="userInfo.occupation",requered)
          .signup_horizontal_line
        .form-group-btm
          .wrapper_photo
            button(url='{{imageUploadUrl}}',accept="image/*,application/pdf",on-success="onSuccess(response)", upload_button)
            img.image_upload_btn
            .add_photo add&nbsp;photo
          .vertical_line
              //-img.img-rounded(id="img_profile" src="{{photoUrl}}" selected='selected(cord)')
              //-.image_upload_btn(url='{{imageUploadUrl}}',accept="image/*,application/pdf",on-success="onSuccess(response)", upload_button)
              //-.thumb_nail
              //-img(id="img_profile" src="{{thumbnailUrl}}")
          .gender
            .sex_label
              .sex Male
              .sex female
            .sex_input
              input(type='radio', ng-model='userInfo.gender', value='1')
              br
              input(type='radio', ng-model='userInfo.gender', value='2')
  .signup_btn(ng-click='signUp()',ng-disabled="form.$invalid")
