#msg_panel.animate-show(ng-show='msgHeaderShow',ng-class="msgHeaderClass")
  .row.header_space
  .row
    .col-90
      div(ng-bind-html='headerMsg',ng-click='headerClickAction()')
    .col-10
      .btn_close(ng-click='CloseHeaderMsg()')