ion-view(title='ACTIVITY')
  ion-content.has-header
    #userActivityInfo
      .name {{myInfo.firstName}} {{myInfo.lastName}} 
      .job {{myInfo.job}}
      img.thumb_image_big.img-circle(ng-profile-image = 'ng-profile-image',source='{{myInfo.photoUrl}}')
      .rank_group(ng-click='showRank()')
        input.rank(value="RANK No.{{rank}}",readOnly)
        img.icon_i
    #list_contents
     .activityList(ng-repeat='activity in activitys | filter:query')
       a.child_list(ng-click='ShowProfile(activity)')
          .dot(ng-show='activity.lastMsg.read==false')
          .pic
            span.helper
             img.thumb_image.img-circle(ng-profile-image = 'ng-profile-image',source='{{activity.thumbnailUrl}}')
          .content
            .first_line
              .display_you(ng-display-you = 'ng-display-you' sender='{{activity.lastSender}}') You
              .blue_arrow(ng-display-you = 'ng-display-you' sender='{{activity.lastSender}}') &rarr;
              .name {{activity.firstName}}&nbsp;{{activity.lastName}}&nbsp;&nbsp;&nbsp;&nbsp;
              .time {{activity.lastMsg.created_at | fromNow}}
            .msgct {{activity | convertMsg}}
