ion-view(title='{{eventName}}')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon#list_header_button(menu-toggle='left')
  ion-content.has-header.has-footer
    ion-list#user_lists
      ion-item(ng-repeat='user in users track by user.rank | filter:query')
        .row.user_list
          .col.col-25
            span.helper
              .imgContainer
                img.profile.thumb_image.img-circle(ng-profile-image = 'ng-profile-image',source='{{user.thumbnailUrl}}')
                .rankingBadge(ng-class = '"rankingBadge" + user.rank', ng-if='user.rank>=1 && user.rank<=5')
          .col
            .item_desc
              a.name(ng-click='ShowProfile(user)') {{user.lastName}} {{user.firstName}}
              .job {{user.job}}
          .col.col-25
            .btn-container(ng-flip-btn = 'ng-flip-btn'  hiStatus = '{{user.status}}')
              button(ng-click="sayHi(user)",ng-Hi-Btn = 'ng-hi-btn',hiStatus = '{{user.status}}'
                ,ng-class="user.status=='0'?'btn-Hi':'btn-Hied'") HI 
              button.btn-In(ng-click="chatRoom(user)", ng-In-Btn = 'ng-in-btn',hiStatus = '{{user.status}}') IN 
        .list_separatebar
  .nobody_msg(ng-show='users.length==0')
    p No participants yet.  
  .bar.bar-footer.list_footer
    .btn-group
      button.btn.btn-default.btn_activity(ng-click='activity()') 
        .unreadBadge(ng-if="unreadActivity>0") {{unreadActivity}}
        span ACTIVITY
    .btn-group
      button.btn.btn-default.btn_group_chat(ng-click='groupChat()')
        .unreadBadge(ng-if="unreadGroup>0") {{unreadGroup}}
        span GROUP CHAT
    .btn-group
      button.btn.btn-default.btn_info(ng-click='info()')
        span INFO
