ion-view(title='{{eventName}}')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon#list_header_button(menu-toggle='left')
  ion-content.has-header.has-footer
    ion-list#user_lists
      ion-item(ng-repeat='user in users track by user.rank | filter:query')
        .row.user_list
          .col-xs-3
            span.helper
              .imgContainer
                img.profile.thumb_image.img-circle(ng-src='{{imagePath}}{{user.thumbnailUrl}}')
                img.rankingBadge(ng-src='../images/ranking/badge-1st44x62.png' ng-show='user.rank==1')
                img.rankingBadge(ng-src='../images/ranking/badge-2nd44x62.png' ng-show='user.rank==2')
                img.rankingBadge(ng-src='../images/ranking/badge-3rd44x62.png' ng-show='user.rank==3')
                img.rankingBadge(ng-src='../images/ranking/badge-4th44x62.png' ng-show='user.rank==4')
                img.rankingBadge(ng-src='../images/ranking/badge-5th44x62.png' ng-show='user.rank==5')
          .col-xs-5
            a.name(ng-click='ShowProfile(user)') {{user.lastName}} {{user.firstName}}
            .job {{user.job}}
          .col-xs-2
            .btn-container(ng-flip-btn = 'ng-flip-btn'  hiStatus = '{{user.status}}')
              button.btn-Hi(ng-click="sayHi(user)" ng-Hi-Btn = 'ng-hi-btn' hiStatus = '{{user.status}}') HI 
              button.btn-In(ng-click="chatRoom(user)" ng-In-Btn = 'ng-in-btn' hiStatus = '{{user.status}}') IN 
        .list_separatebar
  .nobody_msg(ng-show='users.length==0')
    p No participants yet.  
  .bar.bar-footer.list_footer
    .btn-group
      button.btn.btn-default.btn_activity(ng-click='activity()') 
        .unreadBadge {{unreadActivity}}
        span ACTIVITY
    .btn-group
      button.btn.btn-default.btn_group_chat(ng-click='groupChat()')
        .unreadGrBadge {{unreadGroup}}
        span GROUP CHAT
    .btn-group
      button.btn.btn-default.btn_info(ng-click='info()')
        span INFO
